.material-symbols-rounded {
  font-size: 32px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
}

body {
  font-family: "Lexend Exa", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cLoading {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 500px;
  background-color: #1C1B1F;
  text-align: center;
  align-items: center;
}

.cardLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 115px;
  font-size: 13px;
  color: #6ca58c;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.01);
  letter-spacing: 0.2em;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: 0em;
}

.author {
  color: white;
  font-size: 13px;
  margin-top: 2em;
}

.fire {
  font-size: 48px;
}

.pStart {
  color: white;
  margin-bottom: auto;
  font-size: 13px;
  letter-spacing: 0.075em;
}

.pStatus {
  color: #6ca58c;
  font-size: 10px;
  margin-bottom: 3em;
}

.divBeta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 15px;
  background-color: #6ca58c;
  border-radius: 5px;
  margin-bottom: 2em;
}

.pStatus2 {
  color: #1C1B1F;
  font-size: 12px;
  font-weight: bold;
}

#cSelection {
  display: block;
  width: 280px;
  height: 500px;
  background-color: #1C1B1F;
}

.selection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 78px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #6ca58c;
}

.pSelection {
  color: white;
  font-size: 14px;
}

.personGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 10px;
  margin-top: 4em;
  width: 270px;
  height: 270px;
}

.person {
  width: 130px;
  height: 130px;
  background-color: #797979;
  border-radius: 5px;
}

#person1 {
  background-color: rgb(0, 200, 255);
}

#person2 {
  background-color: yellow;
}

#person3 {
  background-color: blue;
}

#person4 {
  background-color: green;
}

#personName {
  margin-top: 3em;
  text-align: center;
  color: white;
  font-size: 13px;
}

#cCover {
  width: 280px;
  height: 500px;
  background-color: #131313;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: auto;
  width: 280px;
  height: 84px;
  background-color: #6ca58c;
}

.score1, .score2, .score3, .score4 {
  transition: 0.25ms;
}

.icon1, .icon2, .icon3, .icon4 {
  width: 100%;
  height: auto;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 280px;
  height: 358px;
  background-color: #ada17c;
}

.cardQuest {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 93px;
}

#cardBack {
  display: block;
  position: relative;
  justify-content: center;
  width: 240px;
  height: 230px;
  margin: auto;
  border-radius: 5px;
  background-color: #1C1B1F;
  box-shadow: rgba(19, 19, 19, 0.4901960784) 5px 5px 0px 0px;
}

#card {
  display: flex;
  justify-content: center;
  width: 230px;
  height: 230px;
  margin: auto;
  border-radius: 5px;
  background-color: #131313;
  border: 1px solid wheat;
}

#cardLeft {
  width: 230px;
  height: 115px;
  min-height: 230px;
}

#cardRight {
  width: 230px;
  height: 115px;
  min-height: 230px;
}

#action {
  display: relative;
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 80%;
  color: #ada17c;
  background-color: rgba(19, 19, 19, 0.7764705882);
}

.cardPerson {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 35px;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width: 280px;
  height: 58px;
  background-color: #6ca58c;
}

/*# sourceMappingURL=style.css.map */
